@page
@model Automov1.Pages.Mantenedores.Cilindradas.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cilindrada[0].NombreCilidrada)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Cilindrada) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCilidrada)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CilindradaID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CilindradaID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.CilindradaID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
