@page
@model Automov1.Pages.Avisos.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Aviso[0].Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aviso[0].Descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Aviso) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.AvisoID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.AvisoID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.AvisoID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
