@page
@model Automov1.Pages.Vehiculos.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Vehiculo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Vehiculo.MarcaID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vehiculo.MarcaID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vehiculo.ModeloID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vehiculo.ModeloID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vehiculo.Año)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vehiculo.Año)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vehiculo.CategoriaID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vehiculo.CategoriaID)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Vehiculo.VehiculoID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
